html,body{
	height: 100%;
}
body,div,section{
	padding: 0px;
	margin: 0px;

}
div.infowindow-content {
    width: 300px;
    display: block;
}
.painelbackground{
	background-image: url('/fitnessproject/img/logo3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	height: 685px;
	width: 100%;
}
.title_home{
	margin-top: 20%;
	margin-bottom: 20%;
	color: white;
}
.title_home h1{
	color: orange;
	font-family: fantasy;
}

.section_title{
	margin-bottom: 40px;
}
.section_title span{
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 54, 226, 0.78);
	border-bottom-width: 5px;
}

.footer_home{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(244, 241, 241, 0.45);
	
	margin-top: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(224, 241, 255)
}
.menu_footer a{
	
	line-height: 16px;
	font-size: 12px;
}
.menu_footer a:HOVER{
	text-decoration: none;
}
.form_signup{
	margin-bottom: 80px;
	margin-top: 80px;
}
.menu a{
	height: 50px;
	text-decoration: none;
	color:#000000;
	font-weight: bolder;
}
.main_menu a{
	font-size: 30px;
	text-decoration: none;
	color:#000000;
}
.main_menu a:hover{
	text-decoration: none;	
}
.side_menu li{
	background-color: #FCFCFC;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-right-radius: 4px;
	border-color:#87CEFA;
}
.side_menu li a{
	color: #000000;
}
.side_menu li:hover{
/* 	background-color: black; */
	border-color:#5DFAE7;
	margin-left: 10px;
}
.side_menu li a:hover{
	background-color: #FFFFFF;
	color: orange;
}
.card{
	display:block;
	height: 150px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	box-shadow: inset 0px 0px 10px 0.75px rgba(139, 141, 143, 0.49);
	margin-bottom: 10px;
	padding-top: 3px;
	
}
.card:HOVER{
	box-shadow: inset 0px 0px 10px 0.75px rgba(83, 82, 82, 0.49);
	-webkit-transition: border-left-color 1000ms linear;
	-moz-transition: border-left-color 1000ms linear;
	-o-transition: border-left-color 1000ms linear;
} 

@media screen and (min-width: 1020px){
	.card_sub{
		height: 20px;
		margin: 5%;
		margin-top: 5px;
	}	
}
@media screen and (max-width: 1019px){
	.card_sub{
		height: 20px;
		margin-top: 5px;
	}	
}
@media screen and (max-width: 768px){
	.menu_footer{
		margin-bottom: 40px;
	}	
}

.error_form_box{
	padding: 3px;
	margin: 0px;
	margin-top: 5px;
}

.mask_side_menu_mobile{
	width: 100%;
	height: 100%;
	top:0;
	bottom:0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.06);
	position:fixed;
	z-index: 10;
}
.side_menu_mobile{
	width: 80%;
	height: 1024px;
	background-color:#FFFFFF;
	top:0;
	bottom:0;
	left: 0;
	position:fixed;
	z-index: 10;
	border-right-width: 2px;
	border-right-style: inset;
	border-right-color: rgba(104, 181, 245, 0.93);
	box-shadow: 11px -1px 30px -5px rgba(104,181,245,0.7);
	
	padding-top: 30px;
	padding-bottom: 30px;
}

.section_menu_mobile{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;  
}

.section_sub_menu_mobile{
	line-height: 40px;
	font-size: 18px;
}
.section_sub_menu_mobile:HOVER{
	background-color: rgb(240, 249, 255);
}
.section_sub_title{
	margin-top: 10px;
	color: rgb(113, 111, 111);
	margin-bottom: 10px
}
